---
import {getEntry} from 'astro:content'
import Base from '../../layouts/base.astro';
import { siGithub } from 'simple-icons';

const {slug} = Astro.params;

const post = await getEntry('devlog', slug as string)

// @ts-ignore
const { Content } = await post?.render();

const meta = post?.data;
---

<Base title={meta?.title} emoji="=">
    <div class="md:px-2">
        <div class="flex flex-row items-end gap-x-3">
        <h1 class="md:text-4xl text-3xl font-black">
            {meta?.title}
        </h1> <a href={meta?.commit ? meta?.commit : "https://github.com/newtoallofthis123/swhkd/commits"}>
               <span class="mb-2" id="inline-icon" set:html={siGithub.svg} />
            </a>
        </div>
        <div class="border-2 dark:border-rosePine-subtle border-rosePineDawn-subtle p-2 my-4 text-rosePineDawn-subtle dark:text-rosePine-subtle">
            <p class="mt-1 text-md ">
                Summary: {meta?.description ? meta?.description : null}
            </p>
            <p class="mt-0.5 text-md">
            Marked: {
                meta?.date ? new Date(meta.date).toDateString() : null
            }
            </p>
            <p class="mt-0.5 text-md">
                Category: { meta?.workType ? meta?.workType : null }
            </p>
            <p class="mt-0.5 text-md">
                Reviewed: { meta?.reviewed ? "✅" : "❌" }
            </p>
        </div>
    </div>
    <div class="md:px-2">
        <Content />
    </div>
</Base>
