---
import {getEntry} from 'astro:content'
import Base from '../../layouts/base.astro';

const {slug} = Astro.params;

const post = await getEntry('thinks', slug as string)

// @ts-ignore
const { Content } = await post?.render();

const meta = post?.data;
---

<Base title={meta?.title} emoji="🧠" color={meta?.color}>
    <div class="md:px-2">
        <h1 class="md:text-4xl text-3xl font-black">
            {meta?.title}
        </h1>
        <p class="mt-2 text-md text-rosePine-muted">
            {
                meta?.date ? new Date(meta.date).toDateString() : null
            }
        </p>
    </div>
    <div class="md:px-2">
        <Content />
    </div>
</Base>
