---
import { siGo, siLinux, siRust } from 'simple-icons';
import Base from '../layouts/base.astro';
import Bold from '../spans/bold.astro';
import HightLight from '../spans/highlight.astro';
import Link from '../spans/link.astro';
import { getCollection } from 'astro:content';
import Char from '../spans/char.astro';

let posts = await getCollection('blog');
posts = posts.filter((post) => !post.data.draft);
posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Base>
    <h1 class="text-xl">
        Hi Internet Friend! I am <Bold>The Noob!</Bold>
    </h1>
    <div id="banner" class="my-2 text-dark dark:text-white">
        <pre class="text-mx md:text-lg">
	<span class="dark:text-mblue text-blue-700">____</span>     __                       __           __    _ 
   /  _/____/ /_  ____<span class="dark:text-mpurple text-purple-700"> _____         / /___  _____/ /_  (_)</span>
   / //<span class="text-green"> ___/ __ \/ __</span> `/ __ <span class="dark:text-myellow text-yellow-700">\   __  / / __ \/ ___/ __ \/ / </span>
 _/ /(__  <span class="text-orange">) / / / /_/ / / / /  / /_/ </span>/ /_/ (__  ) / / / /  
<span class="dark:text-mblue text-blue-700">/___/____/_/ /_/\_</span>_,_/_/ /_/   \<span class="text-mred">____/\____/____/_/ /_/_/</span>
		</pre>
    </div>
    <p>
        I am a <HightLight>
            <span id="inline-icon" set:html={siGo.svg} /> Backend Developer
        </HightLight> and <span id="inline-icon" set:html={siLinux.svg} />
         Linux Enthusiast based in India.
    </p>
    <div class="mt-2">
        <p class="leading-7">
            Over the past 3 years, I have dedicated my time and whatever
            attention span I have to learn and understand the world of Software
            Development. I am currently working on the <span
                id="inline-icon"
                set:html={siRust.svg}
            /> Rust Programming Language. Solving advent of code '23 and writing
            some really cool CLI tools, I think I can call myself a Rustacean
            now.
        </p>
    </div>
    <div class="my-5 md:w-2/3 w-full">
        <h2 class="pb-3 md:text-2xl text-xl font-bold"><Char /> show_blog_posts();</h2>
        <div>
            {
                posts.slice(0, 3).map((post) => (
                    <div class="pb-2 flex flex-row items-baseline justify-between gap-x-4">
                        <h2 class="underline decoration-0.5 decoration-dotted">
                            <Link href={`/blog/${post.slug}`}>
                                {post.data.title}
                            </Link>
                        </h2>
                        <p class="dark:text-neutral-200 text-neutral-700">
                            {new Date(post.data.date).toLocaleDateString()}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
    <div>
        <h2 class="md:text-2xl text-xl mt-5 mb-3">
            <Bold><Char /> grab_attention_of_gold_fish();</Bold>
        </h2>
        <span class="bg-violet-300 p-1 text-black">Wanna play a game?</span>
        <div class="mt-2">
            <p>
                Yes. I am that kind of a person. So, to get started, go solve
                this previous <Link href="https://adventofcode.com/2020/day/23">
                    Advent of Code
                </Link> problem. I will wait for you here.
            </p>
        </div>
    </div>
</Base>
<style>
    ul {
        padding-top: 0.5rem;
        padding-left: 1.9rem;
        list-style: lower-alpha;
    }
</style>
