---
import { siFramer, siGithub, siGo, siLinux, siNeovim, siRust, siStudyverse } from 'simple-icons';
import Base from '../layouts/base.astro';
import Bold from '../spans/bold.astro';
import HightLight from '../spans/highlight.astro';
import Link from '../spans/link.astro';
import { getCollection } from 'astro:content';
import Char from '../spans/char.astro';
import Invideo from '../assets/invideo.svg';

let posts = await getCollection('blog');
posts = posts.filter((post) => !post.data.draft);
posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Base>
    <h1 class="md:text-xl text-lg">
        Hi Internet Friend! I am <Bold>The Noob!</Bold>
    </h1>
    <div id="banner" class="my-2 text-dark dark:text-white">
        <pre class="text-mx sm:text-base">
	<span>____</span>     <span>__                       __           __    _</span> 
   <span>/  _/____/ /_  ____</span><span> _____         / /___  _____/ /_  (_)</span>
   / //<span> ___/ __ \/ __</span> `/ __ <span>\   __  / / __ \/ ___/ __ \/ / </span>
 _/ /(__  <span> ) / / / /_/ / / / /  / /_/ </span><span>/ /_/ (__  ) / / / /</span>
<span>/___/____/_/ /_/\_</span>_,_/_/ /_/   \<span>____/\____/____/_/ /_/_/</span>
		</pre>
    </div>
    <p>
        I am a 🎓 Student and an Engineer at <span id="inline-icon">
           <Invideo /> 
        </span> Invideo based in India.
    </p>
    <div class="mt-2">
        <p class="leading-7">
            A polyglot generalist who loves to learn and build, I've been dabbling
            in multiple languages and frameworks in my 4 years of programming.
            I love customizable and intuitive tools and love to build them <span id="inline-icon" set:html={siGithub.svg} />.
            CLI's are my favorite way to interact with computers, and I love building my own using <span id="inline-icon" set:html={siRust.svg} /> Rust.
            I've built up a speciality for <span id="inline-icon" set:html={siGo.svg} /> backend development, however I also built a quite some experience in frontend animations <span id="inline-icon" set:html={siFramer.svg} /> and design.
            Check out my blog to hear my rants and thoughts on pretty much everything.
        </p>
    </div>
    <div class="my-5 md:w-2/3 w-full">
        <h2 class="pb-3 md:text-2xl text-xl font-bold font-geist-mono"><Char /> show_blog_posts();</h2>
        <div>
            {
                posts.slice(0, 8).map((post) => (
                    <div class="pb-2 flex flex-row items-baseline justify-between gap-x-4">
                        <h2 class="underline decoration-0.5 decoration-dotted">
                            <Link href={`/blog/${post.slug}`}>
                                {post.data.title}
                            </Link>
                        </h2>
                        <p class="text-rosePineDawn-subtle dark:text-rosePine-subtle">
                            {new Date(post.data.date).toLocaleDateString()}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</Base>
<style>
    ul {
        padding-top: 0.5rem;
        padding-left: 1.9rem;
        list-style: lower-alpha;
    }
</style>
