---
import { siGo, siLinux, siRust } from 'simple-icons';
import Base from '../layouts/base.astro';
import Bold from '../spans/bold.astro';
import HightLight from '../spans/highlight.astro';
import Link from '../spans/link.astro';
import { getCollection } from 'astro:content';
import Char from '../spans/char.astro';

let posts = await getCollection('blog');
posts = posts.filter((post) => !post.data.draft);
posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Base>
    <h1 class="md:text-xl text-lg">
        Hi Internet Friend! I am <Bold>The Noob!</Bold>
    </h1>
    <div id="banner" class="my-2 text-dark dark:text-white">
        <pre class="text-mx sm:text-base">
	<span class="dark:text-rosePine-foam text-rosePineDawn-foam">____</span>     <span class="dark:text-rosePine-foam text-rosePineDawn-foam">__                       __           __    _</span> 
   <span class="dark:text-rosePine-gold text-rosePineDawn-gold">/  _/____/ /_  ____</span><span class="dark:text-rosePine-love text-rosePineDawn-love"> _____         / /___  _____/ /_  (_)</span>
   / //<span class="dark:text-rosePine-iris text-rosePineDawn-iris"> ___/ __ \/ __</span> `/ __ <span class="dark:text-rosePine-gold text-rosePineDawn-gold">\   __  / / __ \/ ___/ __ \/ / </span>
 _/ /(__  <span class="text-rosePine-pine">) / / / /_/ / / / /  / /_/ </span><span class="dark:text-rosePine-rose text-rosePineDawn-rose">/ /_/ (__  ) / / / /</span>
<span class="dark:text-rosePine-love text-rosePineDawn-love">/___/____/_/ /_/\_</span>_,_/_/ /_/   \<span class="dark:text-rosePine-iris text-rosePineDawn-iris">____/\____/____/_/ /_/_/</span>
		</pre>
    </div>
    <p>
        I am a <HightLight>
            <span id="inline-icon" set:html={siGo.svg} /> Backend Developer
        </HightLight> and <span id="inline-icon" set:html={siLinux.svg} />
         Linux Enthusiast based in India.
    </p>
    <div class="mt-2">
        <p class="leading-7">
            Over the past 3 years, I have dedicated my time and whatever
            attention span I have to learn and understand the world of Software
            Development. I am currently working on the <span
                id="inline-icon"
                set:html={siRust.svg}
            /> Rust Programming Language. Solving advent of code '23 and writing
            some really cool CLI tools, I think I can call myself a Rustacean
            now.
        </p>
    </div>
    <div class="my-5 md:w-2/3 w-full">
        <h2 class="pb-3 md:text-2xl text-xl font-bold"><Char /> show_blog_posts();</h2>
        <div>
            {
                posts.slice(0, 8).map((post) => (
                    <div class="pb-2 flex flex-row items-baseline justify-between gap-x-4">
                        <h2 class="underline decoration-0.5 decoration-dotted">
                            <Link href={`/blog/${post.slug}`}>
                                {post.data.title}
                            </Link>
                        </h2>
                        <p class="text-rosePineDawn-subtle dark:text-rosePine-subtle">
                            {new Date(post.data.date).toLocaleDateString()}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</Base>
<style>
    ul {
        padding-top: 0.5rem;
        padding-left: 1.9rem;
        list-style: lower-alpha;
    }
</style>
