---
export interface Props {
  title?: string;
  emoji?: string;
  color?: string;
  description?: string;
  img?: string;
}

const { title, emoji, description, img = "/banner.png" } = Astro.props;

import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import Nav from "../components/nav";

import { Font } from "astro:assets";

import "../styles/global.css";
import "../styles/article.css";
import {
  siGithub,
  siGmail,
  siLinkedin,
  siRss,
  siX,
  siYoutube,
} from "simple-icons";
import { ClientRouter } from "astro:transitions";
import { ToolTip } from "@/components/ToolTip";
const BASE_URL = "http://" + Astro.url.host;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow, archive" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="theme-color" content="#ffd845" />
    <meta name="title" content="NoobScience" />
    <meta
      name="description"
      content={description ||
        "Hi! I am Ishan. I am a Student and Open Source Enthusiast. This is my personal portfolio website. I Like to Code Stuff. Check out my work!"}
    />
    <meta name="title" content={title || "NoobScience"} />
    <meta
      name="keywords"
      content="noobscience, noob science, NoobScience, newtoallofthis123, technology, website"
    />
    <meta name="author" content="NoobScience" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={BASE_URL} />
    <meta property="twitter:title" content="NoobScience" />
    <meta
      property="twitter:description"
      content={description || "Student and Linux Guy. Working on Rust and Go."}
    />
    <meta property="twitter:image" content={BASE_URL + img} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={BASE_URL} />
    <meta property="og:title" content={title || "NoobScience"} />
    <meta
      property="og:description"
      content={description ||
        "Student and Open Source Enthusiast. I Like to Code Stuff. Check out my work!"}
    />
    <meta property="og:image" content={BASE_URL + img} />

    <ClientRouter />

    <script defer is:inline src="/_vercel/insights/script.js"></script>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ishan Writes"
      href={`${BASE_URL}/rss.xml`}
    />

    <title>
      {title ?? "NoobScience"}
    </title>
  </head>
  <Font cssVariable="--font-geist" preload />
  <Font cssVariable="--font-geist-mono" preload />

  <body>
    <main class="flex flex-col justify-center items-center">
      <div class="lg:w-2/3 w-full p-0">
        <Nav emoji={emoji} client:load />
        <div class="md:p-4 p-3 pt-2 md:my-5 md:mb-1">
          <slot />
        </div>
        <footer
          transition:persist
          class="md:mb-10 mb-2 text-sm flex flex-row items-center md:justify-between md:gap-x-4 px-3"
        >
          <p>
            &copy; Ishan Joshi {new Date().getFullYear()}
          </p>
          <p class="pl-3">
            (
            <span id="theme" class="cursor-pointer">Theme Toggle</span>
            )
          </p>
          <div class="pl-3 flex flex-row gap-x-4">
            <a href="/rss.xml">
              <span set:html={siRss.svg} id="inline-icon" />
            </a>
            <a href="https://github.com/newtoallofthis123/portfolio">
              <span set:html={siGithub.svg} id="inline-icon" />
            </a>
            <a href="https://x.com/noobscience1">
              <span set:html={siX.svg} id="inline-icon" />
            </a>
            <ToolTip trigger="Copy Email" position="top" client:load>
              <span set:html={siGmail.svg} id="inline-icon" />
            </ToolTip>
            <a href="https://www.youtube.com/@noobscience1">
              <span set:html={siYoutube.svg} id="inline-icon" />
            </a>
            <a href="https://www.linkedin.com/in/noobscience/">
              <span set:html={siLinkedin.svg} id="inline-icon" />
            </a>
          </div>
        </footer>
      </div>
    </main>
  </body>
  <script is:inline>
    // const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
    // let theme = prefersDarkScheme.matches ? "dark" : "light";
    let localTheme = localStorage.getItem("theme");
    if (localTheme) {
      theme = localTheme;
    } else{
      theme = "light"
    }
    console.log(theme);
    document.documentElement.classList.toggle("dark", theme === "dark");
    const themeElement = document.getElementById("theme");
    themeElement.addEventListener("click", () => {
      theme = theme === "dark" ? "light" : "dark";
      document.documentElement.classList.toggle("dark", theme === "dark");
      localStorage.setItem("theme", theme);
      window.location.reload();
    });
    document.addEventListener("astro:after-swap", () => {
      document.documentElement.classList.toggle("dark", theme === "dark");
    });
  </script>
</html>
